.owner-profile-wrapper{
display:flex;
justify-content:center;
width:1100px;
max-width:100%;
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 15px 40px rgba(0,0,0,0.08);
position: relative;
left:60px;
top: 20px;
}

.owner-left{
width:320px;
background:#f8f8f8;
padding:40px 30px;
text-align:center;
border-right:1px solid #eee;
}

.owner-avatar{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;
border:4px solid #ff9800;
}

.owner-name{
font-size:20px;
font-weight:600;
color:#333;
}

.owner-role{
color:#777;
font-size:14px;
margin-bottom:25px;
}


.owner-menu{
display:flex;
flex-direction:column;
gap:12px;
}

.owner-menu button{
padding:12px;
border:none;
border-radius:10px;
background:#ff9800;
font-size:14px;
font-weight:500;
cursor:pointer;
transition:all .2s ease;
}

.owner-menu button:hover{
background:#c3862b;
color:white;
}

.owner-menu .active{
background:#ffe7cc;
color:#ff9800;
font-weight:600;
}

.owner-right{
flex:1;
padding:40px 50px;
}

.owner-title{
font-size:22px;
font-weight:600;
margin-bottom:30px;
color:#333;
}

.owner-form{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.owner-form input{
padding:12px;
border-radius:10px;
border:1px solid #ddd;
background:#f8f8f8;
font-size:14px;
}

.owner-form input:focus{
outline:none;
border-color:#ff9800;
background:white;
}


.full{
grid-column:span 2;
}

.owner-buttons{
margin-top:35px;
display:flex;
justify-content:space-between;
}

.discard-btn{
padding:12px 28px;
border-radius:30px;
border:2px solid #ff9800;
background:white;
color:#ff9800;
font-weight:600;
cursor:pointer;
transition:.2s;
}

.discard-btn:hover{
background:#fff5ea;
}

.save-btn{
padding:12px 30px;
border:none;
border-radius:30px;
background:#ff9800;
color:white;
font-weight:600;
cursor:pointer;
transition:.2s;
}

.save-btn:hover{
background:#e68900;
}


.owner-left input[type="file"]{
margin-top:10px;
font-size:13px;
}

@media(max-width:900px){

.owner-profile-wrapper{
flex-direction:column;
}

.owner-left{
width:100%;
border-right:none;
border-bottom:1px solid #eee;
}

.owner-right{
padding:30px;
}

.owner-form{
grid-template-columns:1fr;
}

.full{
grid-column:span 1;
}

.owner-buttons{
flex-direction:column;
gap:10px;
}

}